@font-face {
  font-family: 'GolosText';
  src:
    local('GolosText Regular'),
    local('GolosText-Regular'),
    url('GolosText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GolosText';
  src:
    local('GolosText Medium'),
    local('GolosText-Medium'),
    url('GolosText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GolosText';
  src:
    local('GolosText SemiBold'),
    local('GolosText-SemiBold'),
    url('GolosText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GolosText';
  src:
    local('GolosText Bold'),
    local('GolosText-Bold'),
    url('GolosText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GolosText';
  src:
    local('GolosText ExtraBold '),
    local('GolosText-ExtraBold '),
    url('GolosText-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
